[user]
	name = Théo Mesnil
	email = mesniltheo@gmail.com
[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto
  ui = auto
  pager = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[alias]
  aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
  cim = "!git commit -m"
  co = checkout
  com = checkout main
  st = status
	delete-merged-branches = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d | git fetch -p"
  delete-all-branches = "git branch | grep -v "main" | xargs git branch -D"
  rb = rebase main
	rbm = !git pull origin main --rebase
  rbmaster = !git pull origin master --rebase
  ds = diff --staged
  lg = log -10 --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
  oops = commit --amend --no-edit
  publish = "!git push origin $(git branch --show-current) --force-with-lease"
  psu = "!git push -u origin $(git branch --show-current)"
  reword = commit --amend
  uncommit = reset --hard HEAD^
  untrack = rm --cache --
[core]
  pager = cat
  editor = code --wait
  whitespace = -trailing-space
[diff]
  mnemonicPrefix = true
  renames = true
  wordRegex = .
  submodule = log
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
  recurseSubmodules = on-demand
[grep]
  break = true
  heading = true
  lineNumber = true
  extendedRegexp = true
[log]
  abbrevCommit = true
  follow = true
  decorate = false
[merge]
  ff = false
[mergetool]
  keepBackup = false
  keepTemporaries = false
  writeToTemp = true
  prompt = false
[pull]
  rebase = merges
[push]
	default = current
  followTags = true
[status]
  submoduleSummary = true
  showUntrackedFiles = all
[tag]
  sort = version:refname
[versionsort]
  prereleaseSuffix = -pre
  prereleaseSuffix = .pre
  prereleaseSuffix = -beta
  prereleaseSuffix = .beta
  prereleaseSuffix = -rc
  prereleaseSuffix = .rc
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
